{% extends "_layout.html" %}

{% block content %}
<div class="app">
	<div class="main-wrapper">
		<div class="hero-main">
			<img class="logo-hero" src="./media/Jonwinenewlogofinal.jpg" alt="Jon Wine">
			<div class="video-container">
				<div id="bkg-after"></div>
				<video id="vid" video autobuffer autoplay>
					<source src="./media/wine-video.mp4" type="video/mp4">
				</video>
			</div>
			<img id="home-arrow" src="./media/down-arrow.svg" alt="arrow">
		</div>
		<div class="about-main">
			<div class="chianti-container">
				<!-- <img src="./media/chianti.jpg" alt="Chianti" id="chianti"> -->
			</div>
			<div class="text-container-chianti">
				<h2 class="about-header">About Jon Wine</h2>
				<div class="line-separator"></div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus porttitor.
					Lorem
					ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis
					parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.

					Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
					semper.
					Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum.</p>
			</div>
			<div class="service service-1">
				<div class="service-text-container">
					<div class="consulting">
						<h2>Service 1</h2>
						<div class="line-separator"></div>
						<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna
							mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
							porta sem malesuada magna mollis euismod.
							Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec
							elit. Nullam quis risus eget urna mollis ornare vel eu leo.
						</p>
					</div>
				</div>
			</div>
			<div class="service service-2">
				<div class="service-text-container">
					<div class="consulting">
						<h2>Service 2</h2>
						<div class="line-separator"></div>
						<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
							justo sit amet risus. Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac
							facilisis in, egestas eget quam. Sed posuere consectetur est at lobortis.
							Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit
							non mi porta gravida at eget metus.
						</p>
					</div>
				</div>
			</div>
			<div class="contact">
				<div class="contact-inner">
					<div class="contact-hero">
						<h2>Let's talk about wine!</h2>
					</div>
					<div class="line-separator"></div>
					<form action="">
						<label for=""><span>Name</span>
							<input type="text">
						</label>
						<label for=""><span>Email</span>
							<input type="email">
						</label>
						<label class="message-label" for=""><span>Message</span>
							<textarea name="" id=""></textarea>
						</label>
						<div class="button-container">
							<input type="submit" value="Submit">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}